@model UnprofessionalsApp.ViewInputModels.ViewModels.Posts.PostDetailsViewModel
@if (this.User.Identity.IsAuthenticated)
{
	<div class="card my-4">
		<h5 class="card-header">Leave a Comment:</h5>
		<div class="card-body">
			<form asp-controller="Comments" asp-action="CreateAsync" method="post">
				<div class="form-group">
					<input type="hidden" name="userId" value="@(Model.UserId)" />
					<input type="hidden" name="postId" value="@(Model.Id)" />
					<textarea class="form-control" rows="3" name="description" style="resize:vertical;"></textarea>
				</div>
				<button type="submit" class="btn btn-secondary"><small>Add a comment</small></button>
			</form>
		</div>
	</div>
}
else
{
	<div class="card my-4">
		<h5 class="card-body"><strong>Log in to leave a comment!</strong></h5>
	</div>
}
<!-- Comment with nested comments -->
<div class="row mb-4">
	<button class="h6 btn-secondary rounded" onclick="showAll()">Show/Hide all comments</button>
</div>
<div id="divHidden" hidden>
	@if (Model.Comments.Any())
	{
		@foreach (var comment in Model.Comments)
		{
			if (comment.IsDeleted) { continue; }
			<div class="media mb-4">
				<img class="d-flex mr-3 rounded-circle" src="@(comment.UserImageUrl)" width="50" height="50" alt="No iamge">
				<div class="media-body">
					<h5 class="mt-0"><a asp-controller="Account" asp-action="Details" asp-route-userId="@(comment.UserId)">@(comment.Username)</a></h5>
					<div class="d-flex justify-content-between">
						<div>
							@(comment.Description)
						</div>
						<div>
							<small>@(comment.DateOfCreation)</small>
						</div>
					</div>
					@if (this.User.Identity.IsAuthenticated)
					{
					<div class="d-flex justify-content-between mb-3">
						@if (this.User.IsInRole("Admin"))
						{
							<a asp-area="Identity" asp-page="/comments/delete" asp-route-commentId="@(comment.Id)" class="btn btn-danger btn-xs" data-title="Delete"><i style="font-size:24px" class="fa">&#xf00d;</i></a>
						}
						<a class="font-weight-bold text-center" asp-page="/reports/create" asp-route-commentId="@(comment.Id)">
							<span class="btn btn-secondary btn-xs">
								<i style="font-size:20px" class="fa">&#xf071;</i>
							</span>
						</a>
						<button class="btn btn-secondary" onclick="myFunction@(comment.Id)()"><small>Reply</small> &laquo;</button>
					</div>
						<form asp-controller="Replies" asp-action="CreateAsync" method="post" id="comment@(comment.Id)@(comment.PostId)" hidden>
							<div class="form-group card">
								<h6 class="card-header">Leave a Reply</h6>
								<div class="card-body">
									<input type="hidden" name="commentId" value="@(comment.Id)" />
									<input type="hidden" name="userId" value="@(comment.UserId)" />
									<input type="hidden" name="postId" value="@(comment.PostId)" />
									<textarea class="form-control mb-3" rows="3" name="description" style="resize:vertical;"></textarea>
									<div class="d-flex justify-content-end">
										<button type="submit" class="btn btn-secondary"><small>Add Reply</small></button>
									</div>
								</div>
							</div>
						</form>
					}
					<div class="d-flex justify-content-end">
						<button class="badge text-dark bg-white border-0" onclick="showComments@(comment.Id)@(comment.PostId)()">Show/Hide all replies</button>
					</div>
					<div id="commentHidden@(comment.Id)@(comment.PostId)" hidden>
						@if (comment.Replies.Any())
						{
							foreach (var reply in comment.Replies)
							{
								if (reply.IsDeleted) { continue; }
								<div class="media mt-4">
									<img class="d-flex mr-3 rounded-circle" src="@(reply.UserImageUrl)" height="50" width="50" alt="No image">
									<div class="media-body">
										<h5 class="mt-0">
											<a asp-controller="Account" asp-action="Details" asp-route-userId="@(reply.UserId)">@(reply.Username)</a>
										</h5>
										<div class="d-flex justify-content-between">
											<div>
												@(reply.Description)
											</div>
											<div>
												<small>@(reply.DateOfCreation)</small>
											</div>
										</div>
										@if (this.User.Identity.IsAuthenticated)
										{
										<div class="d-flex justify-content-between mb-3">
											@if (this.User.IsInRole("Admin"))
											{
												<a asp-area="Identity" asp-page="/replies/delete" asp-route-replyId="@(reply.Id)" class="btn btn-danger btn-xs" data-title="Delete"><i style="font-size:24px" class="fa">&#xf00d;</i></a>
											}
											<a class="font-weight-bold text-center" asp-page="/reports/create" asp-route-replyId="@(reply.Id)">
												<span class="btn btn-secondary btn-xs">
													<i style="font-size:20px" class="fa">&#xf071;</i>
												</span>
											</a>
											<button class="btn btn-secondary" onclick="myReply@(reply.Id)@(comment.Id)()"><small>Reply</small> &laquo;</button>
										</div>

											<form asp-controller="Replies" asp-action="CreateAsync" method="post" id="reply@(reply.Id)@(comment.Id)" hidden>
												<div class="form-group card">
													<h6 class="card-header">Leave a Reply</h6>
													<div class="card-body">
														<input type="hidden" name="commentId" value="@(comment.Id)" />
														<input type="hidden" name="userId" value="@(comment.UserId)" />
														<input type="hidden" name="postId" value="@(comment.PostId)" />
														<textarea class="form-control mb-3" rows="3" name="description" style="resize:vertical;"></textarea>
														<div class="d-flex justify-content-end">
															<button type="submit" class="btn btn-secondary"><small>Add a Reply</small></button>
														</div>
													</div>
												</div>
											</form>
										}
									</div>
								</div>
							}
						}
					</div>
				</div>
			</div>
		}
		<script>

		</script>
		@foreach (var comment in Model.Comments)
		{
			<script>
				function myFunction@(comment.Id)() {
					var x = document.getElementById("comment@(comment.Id)@(comment.PostId)");
					x.removeAttribute("hidden");
					if (x.style.display === "none") {

						x.style.display = "block";
					} else {
						x.style.display = "none";
					}
				}
			</script>
			<script>
				function showComments@(comment.Id)@(comment.PostId)() {
					var x = document.getElementById("commentHidden@(comment.Id)@(comment.PostId)");
					x.removeAttribute("hidden");
					if (x.style.display === "none") {

						x.style.display = "block";
					} else {
						x.style.display = "none";
					}
				}
			</script>

			if (comment.Replies.Any())
			{
				foreach (var reply in comment.Replies)
				{
					<script>
					function myReply@(reply.Id)@(comment.Id)() {
					var x = document.getElementById("reply@(reply.Id)@(comment.Id)");
					x.removeAttribute("hidden");
					if (x.style.display === "none") {

						x.style.display = "block";
					} else {
						x.style.display = "none";
					}
				}
					</script>
				}
			}
		}
	}
	else
	{
		<div>There are no comments for this post!</div>
	}
</div>

<script>
	function showAll() {
		var x = document.getElementById("divHidden");
		x.removeAttribute("hidden");
		if (x.style.display === "none") {

			x.style.display = "block";
		} else {
			x.style.display = "none";
		}
	}
</script>