@page "{currentPage=1}/{sortBy=Id}/{ordering=ascending}/{pageSize=10}"

@model UnprofessionalsApp.Web.Pages.Firms.IndexModel
@{
	ViewData["Title"] = "All Firms Page";
	var counter = 1;

	var pageMinLength = Model.CurrentPage - (Model.CurrentPage % 10);
	var pageMaxLength = Model.ResultPerPage + pageMinLength - 1;
	if (pageMaxLength > Model.TotalPages)
	{
		pageMaxLength = Model.TotalPages;
	}
}

<div class="d-flex justify-content-between">
	<div class="dropdown col-md-3">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Select Page Size
		</button>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" asp-page="/firms/index" asp-route-currentpage="1" asp-route-ordering="@Model.Ordering" asp-route-sortby="@Model.SortBy" asp-route-pageSize="10">10</a>
			<a class="dropdown-item" asp-page="/firms/index" asp-route-currentpage="1" asp-route-ordering="@Model.Ordering" asp-route-sortby="@Model.SortBy" asp-route-pageSize="20">20</a>
			<a class="dropdown-item" asp-page="/firms/index" asp-route-currentpage="1" asp-route-ordering="@Model.Ordering" asp-route-sortby="@Model.SortBy" asp-route-pageSize="50">50</a>
		</div>
	</div>
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Order by
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item sort-link" asp-page="/firms/index" asp-route-pageSize="@Model.PageSize" asp-route-sortby="Name" asp-route-ordering="ascending">Firm Name &uarr;</a>
			<a class="dropdown-item sort-link" asp-page="/firms/index" asp-route-pageSize="@Model.PageSize" asp-route-sortby="Name" asp-route-ordering="descending">Firm Name &darr;</a>
			<a class="dropdown-item sort-link" asp-page="/firms/index" asp-route-pageSize="@Model.PageSize" asp-route-sortby="DateOfRegistration" asp-route-ordering="ascending">Date Of Registration &uarr;</a>
			<a class="dropdown-item sort-link" asp-page="/firms/index" asp-route-pageSize="@Model.PageSize" asp-route-sortby="DateOfRegistration" asp-route-ordering="descending">Date Of Registration &darr;</a>
			<a class="dropdown-item sort-link" asp-page="/firms/index" asp-route-pageSize="@Model.PageSize" asp-route-sortby="PostsAboutFirm" asp-route-ordering="ascending">Posts About Firm &uarr;</a>
			<a class="dropdown-item sort-link" asp-page="/firms/index" asp-route-pageSize="@Model.PageSize" asp-route-sortby="PostsAboutFirm" asp-route-ordering="descending">Posts About Firm &darr;</a>
		</div>
	</div>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Bulstat / PIK</th>
			<th scope="col">Firm Name</th>
			<th scope="col">Date of registration</th>
			<th scope="col">Posts about firm</th>
			<th scope="col">Legal Form</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var firm in Model.Data)
		{
			<tr>
				<th scope="row">@((counter++) + ((Model.CurrentPage - 1) * Model.PageSize))</th>
				<td><a asp-controller="Firms" asp-action="Details" asp-route-firmId="@firm.Id">@firm.UniqueFirmId</a></td>
				<td>@firm.Name</td>
				<td>@firm.DateOfRegistration</td>
				<td>@firm.PostsAboutFirm</td>
				<td>@firm.LegalForm</td>
			</tr>
		}
</table>

<nav aria-label="Page navigation example">
	<ul class="pagination pg-blue justify-content-center">
		<li class="page-item @(Model.CurrentPage == 1 ? "disabled":"")" title="First">
			<a asp-page="/firms/index" class="page-link" asp-route-currentpage="1" asp-route-sortby="@Model.SortBy" asp-route-ordering="@Model.Ordering" asp-route-pageSize="@Model.PageSize">
				&laquo;
			</a>
		</li>
		<li class="page-item @(Model.CurrentPage - 1 <= 0 ? "disabled" : "")">
			<a asp-page="/firms/index" asp-route-ordering="@Model.Ordering" asp-route-sortby="@Model.SortBy" asp-route-pageSize="@(Model.PageSize)" asp-route-currentpage="@(Model.CurrentPage - 1)" class="page-link">Previous</a>
		</li>
		@for (var pageId = pageMinLength; pageId <= pageMaxLength; pageId++)
		{
			if (pageId == 0) { pageId++; }

			<li class="page-item @(pageId == Model.CurrentPage ? "active" : "")">
				<a asp-page="/firms/index" asp-route-ordering="@Model.Ordering" asp-route-sortby="@Model.SortBy" asp-route-pageSize="@(Model.PageSize)" asp-route-currentpage="@pageId" class="page-link">@pageId</a>
			</li>
		}
		<li class="page-item @(Model.CurrentPage + 1 > Model.TotalPages ? "disabled" : "")">
			<a asp-page="/firms/index" asp-route-ordering="@Model.Ordering" asp-route-sortby="@Model.SortBy" asp-route-pageSize="@(Model.PageSize)" asp-route-currentpage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
		</li>

		<li class="page-item  @(Model.CurrentPage == Model.TotalPages? "disabled":"")" title="Last">
			<a asp-page="/firms/index" class="page-link" asp-route-currentPage="@Model.TotalPages" asp-route-sortby="@Model.SortBy" asp-route-ordering="@Model.Ordering" asp-route-pageSize="@Model.PageSize">
				&raquo;
			</a>
		</li>
	</ul>
</nav>

