@page
@model UnprofessionalsApp.Web.Areas.Identity.Pages.Comments.IndexModel
@{
	ViewData["Title"] = "My comments";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4>Bootstrap Snipp for Datatable</h4>
			<div class="table-responsive">
				@if (this.Model.Data.Any())
				{
					<table id="mytable" class="table table-bordred table-striped">
						<thead>
							<tr>
								<td>Made on date</td>
								<td>Description</td>
								<td>Made on post</td>
							</tr>
						</thead>
						<tbody>
							@foreach (var comment in Model.Data)
							{
							<tr>
								<td>@(comment.DateOfCreation)</td>
								<td>@(comment.Description)</td>
								<td><a asp-controller="Posts" asp-action="Details" asp-route-postId="@(comment.PostId)">@(comment.PostTitle)</a></td>
								<td><p data-placement="top" title="Edit"><a asp-area="Identity" asp-page="/comments/edit" asp-route-commentId="@(comment.Id)" class="btn btn-primary btn-xs" data-title="Edit"><i style="font-size:24px" class="fa">&#xf040;</i></a></p></td>
								<td><p data-placement="top" title="Delete"><a asp-area="Identity" asp-page="/comments/delete" asp-route-commentId="@(comment.Id)" class="btn btn-danger btn-xs" data-title="Delete"><i style="font-size:24px" class="fa">&#xf00d;</i></a></p></td>
							</tr>
							}

						</tbody>
					</table>
				}
				else
				{
					<p>You have no comments.</p>
				}
			</div>
		</div>
	</div>
</div>